# Configurações do Servidor
PORT=4000
NODE_ENV=development

# Configurações do Banco de Dados
MONGO_URI=mongodb://localhost/inventario

# Configurações de Autenticação
JWT_AUTH=sua_chave_secreta_jwt_aqui

# Configurações do reCAPTCHA (opcional)
CAPTCHA_SCREATE_KEY=sua_chave_secreta_recaptcha_aqui 